.wrapper
{
	width: 100%;
}

.header 
{
	width:100%;
	padding: 10px 0px 10px 0px;
	background-color: #303030;
	color: white;
}

.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 0px 0px 0px;
}

.header img {
	float: left;
	position: relative;
	top: -10px;
	left: -10px;
	width: 50px;
	height: 50px;
	margin: 10px;
}

.header h1 {
	position: relative;
	top: 0px;
	left: 0px;
}

.menu {
	position: absolute;
	float: left;
	padding: 10px 10px 0px 10px;
	text-align: center;
	background: #292626;
	color: white;
	font-size: 20px;
    min-height: 620px;
    width: 150px;
    margin-left: 0px;
    height:100%;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.iSesion {
	text-align: center;
	background: #dfffff;
	color: black;
	margin: auto;
    width: 20%;
    border: 3px black;
	padding: 10px 10px 10px 10px;
}

.aSesion {
	text-align: center;
	background: #dfffff;
	color: black;
	margin: auto;
    width: 20%;
    border: 3px black;
	padding: 10px 10px 10px 10px;
}

.error {
	text-align: center;
	background: #dfffff;
	color: black;
	margin: auto;
    width: 20%;
    border: 3px black;
	padding: 10px 10px 10px 10px;
}

.mensajes {
	text-align: center;
	background: #dfffff;
	color: black;
	margin: auto;
    width: 100%;
    border: 3px black;
	padding: 20px 20px 20px 20px;
}

.contenido
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	font-size:20px;
}

.botonVOLVER {
	background-color: #555555;
	border: none;
	color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.botonVOLVER:hover {
  background-color: grey;
}

.botonRESERVAR {
	background-color: #4CAF50;
	border: none;
	color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.botonRESERVAR:hover {
  background-color: grey;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 17px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.botonMENU {
	background-color: #303030;
	border: none;
	color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}

.botonMENU:hover {
  background-color: grey;
}

.botonCERRARSESION {
	background-color: #c34f4f;
	border: none;
	color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}

.botonCERRARSESION:hover {
  background-color: red;
}
.botonACTIVIDADES {
	background-color: #c34f4f;
	border: none;
	color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.botonACTIVIDADES:hover {
  background-color: red;
}