<!DOCTYPE HTML>
<html>
	<head>
		<title>SportCenterURJC</title>
	</head>
 <style>
body {
	background-image: url('/imagenes/urjc_alcorcon.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header img {
	position: relative;
	top: -22px;
	left: -10px;
	width: 50px;
	height: 50px;
	float:left;
	margin:10px
}

.header h1 {
	position: relative;
	top: 0px;
	left: 0px;
}

.header {
	padding: 10px;
	text-align: left;
	background: #92a8d1;
	color: black;
	font-size: 10px;
	margin-left: -10px;
}
.menu {
float: left;
	padding: 10px;
	text-align: left;
	background: grey;
	color: black;
	font-size: 20px;
    min-height: 620px;
    width: 150px;
    margin-left: -80px;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.isesion {
	padding: 10px;
	text-align: center;
	background: lightgrey;
	color: black;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 600px;
	margin-left: 600px;
}

</style> 
<body>
<div class="header">
	<h1><img src="/imagenes/logo.png" alt="logo">SportCenterURJC</h1>
</div>