<!DOCTYPE HTML>
<html>
<head>
	<img src="/imagenes/logo.png" alt="logo" width="240" height="160">
	<h1>SportCenterURJC</h1>
</head>
 <style>
body {
  background-image: url('/imagenes/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 
<body>
