{{>cabeceraALCORCON}}

	<div class="contenido">
		<h1>Bienvenido al campus de  {{centro.campus}}</h1>
	
		{{#act}}
	    	<h1><a href="/">{{nombre}} </a><br></h1>
		{{/act}}
	
		{{^act}}
	    	<p><h2>No hay actividades todavía.</h2></p>
		{{/act}}
		
		<br>
		<a href="/menuPrincipal"><button class="button botonVOLVER"> Volver </button></a>
	</div>

{{>piepag}}