{{>cabecera}}

	<div class="error">
		{{#usuarioYaExiste}}
		<h2> El usuario  ya existe </h2>
		<a href="/registrarse"><button class="button botonVOLVER"> Volver </button></a>
		{{/usuarioYaExiste}}
	
		{{#datosIncorrectosReg}}
		<h2> Datos incorrectos </h2>
		<a href="/registrarse"><button class="button botonVOLVER"> Volver </button></a>
		{{/datosIncorrectosReg}}
		
		{{#usuarioNoExiste}}
		<h2> No existe el usuario </h2>
		<a href="/iniciarSesion"><button class="button botonVOLVER"> Volver </button></a>
		{{/usuarioNoExiste}}
		
		{{#datosIncorrectosIni}}
		<h2> Datos incorrectos </h2>
		<a href="/iniciarSesion"><button class="button botonVOLVER"> Volver </button></a>
		{{/datosIncorrectosIni}}
		
	</div>
	
{{>piepag}}