<html>
<head>
<title>SportCenterURJC</title>
<style>
body {
  background-color: #92a8d1;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
<h1>SportCenterURJC</h1>
<img src="logo.png" alt="logo" style="width:100px">
<div id="sesion">
  <a href="registrarse.html">Registrarse</a>
  <a href="iniciarSesion.html">Iniciar sesión</a>
</div>
</body>
</html>