{{>cabecera}}

	<div class="menu">
		<section>
		<p><a href="/registrarse"><button class="button botonMENU">REGISTRARSE</button></a></p>
    	</section>
    	<section>
		<p><a href="/iniciarSesion"><button class="button botonMENU">INICIAR SESION</button></a></p>
    	</section>
	</div>
	
{{>piepag}}