{{>cabecera}}

<p>INICIAR SESION</p>
<p>Nombre usuario</p>
<p><input type= 'text' name= 'nombre'/></p>
<p>Contraseña</p>
<p><input type= 'text' name= 'contrasenya'/></p>
<p><input type='submit' value= 'Iniciar Sesión'/></p>
<a href="/">Volver</a>

{{>piepag}}