{{>cabecera}}

<!--{{#errorNombre}}
   <p> Nombre incorrecto </p>
{{/errorNombre}}

{{#errorClave}}
   <p> Clave incorrecta </p>
{{/errorClave}}

{{#faltanDatos}}
   <p> Faltan datos </p>
{{/faltanDatos}} -->

<div class="iSesion">

	{{#datosIncorrectos}}
		<p> Faltan datos por introducir </p>
		<a href="/">Volver</a>
	{{/datosIncorrectos}}

	{{#usuarioYaExiste}}
		<p> El usuario introducido ya existe </p>
		<a href="/">Volver</a>
	{{/usuarioYaExiste}}

	<p>INICIAR SESION</p>
	<form action="usuario/acceso" method="post">
	<p>Nombre usuario</p>
	<p><input type= 'text' name= 'nombre'/></p>
	<p>Clave</p>
	<p><input type= 'text' name= 'clave'/></p>
	<p>Correo</p>
	<p><input type= 'text' name= 'correo'/></p>
	<p><input type='submit' value= 'Iniciar Sesión'/></p>
	</form>
	<a href="/">Volver</a>
   
</div>

{{>piepag}}