{{>cabecera}}

	<div class="contenido">
		<h1> Bienvenido a tu perfil personal {{usu.nombre}}  </h1>
		
		{{#res}}
		     <h1><a href="/perfil/{{id}}">{{nombreReserva}} </a><br></h1>
		{{/res}}
		
		{{^res}}
		     <p> No se ha realizado ninguna reserva todavia </p>
		{{/res}}	
		
		<a href="/menuPrincipal"><button class="button botonVOLVER"> Volver </button></a>
	</div>

{{>piepag}}