{{>cabecera}}

	<div class="contenido">
		<h1> Bienvenido a tu perfil personal {{usu.nombre}}  </h1>
		<a href="/menuPrincipal"><button class="button botonVOLVER"> Volver </button></a>
	</div>

{{>piepag}}