{{>cabecera}}

	<div class="menu">
 		<section>
		<p><a href="/campus/Mostoles"><button class="button botonMENU">CAMPUS MOSTOLES</button></a></p>
    	</section>
   		<section>
		<p><a href="/campus/Alcorcón"><button class="button botonMENU">CAMPUS ALCORCON</button></a></p>
    	</section>
    	<section>
    	<p><a href="/campus/Fuenlabrada"><button class="button botonMENU">CAMPUS FUENLABRADA</button></a></p>
    	</section>
     	<section>
    	<p><a href="/campus/Aranjuez"><button class="button botonMENU">CAMPUS ARANJUEZ</button></a></p>
    	</section> 
    	<section>
    	<p><a href="/campus/Vicálvaro"><button class="button botonMENU">CAMPUS VICALVARO</button></a></p>
    	</section>
    	<section>
   		<p><a href="/perfil"><button class="button botonMENU">MI PERFIL</button></a></p>
    	</section>
    	<section>
    	<p><a href="/"><button class="button botonCERRARSESION">CERRAR SESION</button></a></p>
    	</section>
	</div>
	
	<div class="mensajes">
		<h1>{{usu.nombre}}, bienvenido a la web de los centros deportivos de la URJC.</h1>
		<h2>En el menú puedes elegir el centro en el que desees realizar tu actividad.</h2>
		<h2>También puedes entrar en tu perfil y ver todas tus reservas o reservar la actividad que desees.</h2>
	</div>
	
{{>piepag}}