{{>cabecera}}

<p>REGISTRAR USUARIO</p>
<p>Nombre usuario</p>
<p><input type= 'text' name= 'nombre'/></p>
<p>Contraseña</p>
<p><input type= 'text' name= 'contrasenya'/></p>
<p>Correo electronico</p>
<p><input type= 'text' name= 'contrasenya'/></p>
<p><input type='submit' value= 'Registrarse'/></p>
<a href="/">Volver</a>

{{>piepag}}