<!DOCTYPE HTML>
<html>
	<head>
		<title>SportCenterURJC</title>
		<link rel="stylesheet" href="/styles.css">
			<style>
				body {
					background-image: url('/imagenes/fondo.jpg');
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-size: cover;
					margin: 0;
					}
			</style>
	</head>

<body>

<div class="wrapper">
	<div class="header">
		<div class="logo">
			<img src="/imagenes/logo.png" alt="logo" style="float: left;">SportCenter<span style="color: #c34f4f">URJC</span>
		</div>
	</div>
	
<br><br><br><br><br><br>
<div class="iSesion">

	<h2>REGISTRARSE</h2>
	<form action="usuario/nuevo" method="post">
	<p>Nombre de usuario</p>
	<p><input type= 'text' name= 'nombre'/></p>
	<p>Clave</p>
	<p><input type= 'text' name= 'clave'/></p>
	<p>Correo</p>
	<p><input type= 'text' name= 'correo'/></p>
	<p><input type='submit' value= 'Registrarse'/></p>
	<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
	<a href="/"><button class="button botonVOLVER"> Volver </button></a>
</div>

	<div class="footer">
		<p>SportCenterURJC - Trabajo DAD 2021 ©</p>
	</div>
</div>

</body>

</html>