{{>cabecera}}

<div class="iSesion">

	{{#datosIncorrectos}}
		<p style="color:red">Faltan datos por introducir.</p>
	{{/datosIncorrectos}}

	<h2>REGISTRARSE</h2>
	<form action="usuario/nuevo" method="post">
	<p>Nombre de usuario</p>
	<p><input type= 'text' name= 'nombre'/></p>
	<p>Clave</p>
	<p><input type= 'text' name= 'clave'/></p>
	<p>Correo</p>
	<p><input type= 'text' name= 'correo'/></p>
	<p><input type='submit' value= 'Registrarse'/></p>
	</form>
	<a href="/"><button class="button botonVOLVER"> Volver </button></a>
</div>

{{>piepag}}