<html>
<h1> Bienvenido {{usuario.nombre}}  </h1>
<p>DATOS USUARIO</p>
<p>Nombre usuario -> {{usuario.nombre}}</p>
<p>Contrasenya -> {{usuario.contraseña}}</p>
<p>Correo electrónico -> {{usuario.correo}}</p>
</html>