<html>
<body>

<h1> Bienvenido {{usu.nombre}} </h1>

<p> Usuario: {{usu.nombre}} </p>
<p> Clave: {{usu.clave}} </p>
<p> Correo electrónico: {{usu.correo}} </p>

<p><p> <a href="/"> Volver </a>  </p></p>

</body>
</html>