{{>cabecera}}

	<div class="contenido">
		<h1> {{res.nombreReserva}} </h1>
		
		<p> <b> Actividad reservada: </b> {{act.nombre}} </p>
		<p> <b> Fecha reservada: </b> {{res.fecha}} </p>
		<p> <b> Realizada en el centro: </b> {{centro.campus}} </p> 	    
		
		<a href="/perfil"><button class="button botonVOLVER"> Volver </button></a>
	</div>

{{>piepag}}