{{>cabecera}}
	<div class="menu">
 	<section>
	<p><a href="/campus/1">CAMPUS MOSTOLES</a></p>
    </section>
    <section>
	<p><a href="/campus/2">CAMPUS ALCORCON</a></p>
    </section>
    <section>
    <p><a href="/campus/3">CAMPUS FUENLABRADA</a></p>
    </section>
     <section>
    <p><a href="/campus/4">CAMPUS ARANJUEZ</a></p>
    </section> 
    <section>
    <p><a href="/campus/5">CAMPUS VICALVARO</a></p>
    </section>
    <section>
    <p><a href="/perfil?usuario=usu">MI PERFIL</a></p>
    </section>
</div>
{{>piepag}}